


*{
    color: #343946;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6{
    color: #4CAF50;
}
/* buttons */
  
 .btn{
    display: inline-block;
    padding: 15px 23px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 13px;
    box-shadow: 0 7px #999;
}

.btn:hover {background-color: #3e8e41}
  
.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
 .big{
    font-size: 40px;
}

 .medium{
    font-size: 30px;
}

/* colours */

.success{
  color: rgb(31, 214, 98);
}
.bg-success{
    background-color: rgb(31, 214, 98);
    color: white;
  }
.info{

}

.danger{

}

.default{

}
.primary{
    color: #0192ca;
}
.bg-primary{
    background: #0192ca;
  color: white;
  }

/* dropdown */
.dropdown{

}

.dropdown-items{

}


/* compononts */

.page-form{
    border: solid 1px ghostwhite;
    background-color: whitesmoke;
    box-shadow: 0 3px 3px 0 grey;
    padding: 20px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 900px) {
    /* For medium phones: */
    .page-form{
     
       
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 700px) {
    /* For medium phones: */
    .page-form{
     
       
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

input[type=text], input[type=password], input[type=email] {
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input:hover{
    background-color: rgba(216, 213, 213, 0.637);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#signup{
    width:100%;
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* header and home page styling */
* {
    box-sizing: border-box;
}


/* Header/Blog Title */
.header {
    padding: 50px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color:  #343946;
    position: fixed;
    top: 0;
    width:100%;
    
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background:  #343946;
    margin-top: 20px;
    color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .topnav a {
        float: none;
        width: 100%;
        
    }
}

.topnav .right a {
    float: right;
}


/* pagination */

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
